---
import type { ContainerProps } from '../../types/container.types';

const props = Astro.props as ContainerProps;
const ContainerTag = props.htmlTag ?? 'section';
const containerWidthType = props.containerWidthType ?? 'full';
const contentWidthType = props.contentWidthType ?? 'boxed';
const contentBoxWidth = props.contentBoxWidth ?? 'max-w-[var(--container-max-width)]';
const widthClass = props.width ?? '';
const minHeightClass = props.minHeight ?? '';
const items = props.items ?? [];
const equalHeight = props.equalHeight ?? false;
const overflow = props.overflow ?? undefined;
const containerClassName = props.containerClassName ?? props.containerClass ?? '';
const contentClassName = props.contentClassName ?? props.contentClass ?? '';

let containerClass = '';
if (containerWidthType === 'boxed') {
  containerClass += 'mx-auto max-w-[var(--container-max-width)] ';
} else if (containerWidthType === 'custom') {
  containerClass += 'mx-auto ';
}
if (widthClass) {
  containerClass += `${widthClass} `;
}
if (minHeightClass) {
  containerClass += `${minHeightClass} `;
}
if (overflow) {
  containerClass += ` overflow-${overflow}`;
}
if (containerClassName) {
  containerClass += containerClassName;
}

let contentClass = 'w-full';
if (containerWidthType === 'full') {
  if (contentWidthType === 'boxed') {
    contentClass += ` ${contentBoxWidth} mx-auto`;
  } else if (contentWidthType === 'full') {
    contentClass += ' w-full';
  }
}
if (contentClassName) {
  contentClass += ` ${contentClassName}`;
}
if (equalHeight) {
  contentClass += ' items-stretch';
}
---

<ContainerTag class={containerClass.trim()}>
  <div class={contentClass.trim()}>
    {
      items && items.length > 0 ? (
        items.map((item) => <div class={item.class} id={item.id} set:html={item.content} />)
      ) : (
        <slot />
      )
    }
  </div>
</ContainerTag>
