---
import type { HeadlineProps } from '~/types/headline.types';
import { cn } from '~/utils/styles';

type Props = HeadlineProps;

const {
  tagline,
  title,
  subtitle,
  taglineClass = '',
  titleClass = '',
  subtitleClass = '',
  class: className = '',
  align = 'left',
} = Astro.props;

const defaultAlignmentClass = {
  left: 'text-left',
  center: 'text-center',
  right: 'text-right',
}[align];

const mergedTaglineClass = cn(
  'text-secondary text-sm font-semibold uppercase tracking-wider',
  taglineClass
);

const mergedTitleClass = cn(
  'text-normal font-title text-4xl md:text-5xl font-bold mt-2',
  titleClass
);

const mergedSubtitleClass = cn(
  'text-muted text-lg mt-4 max-w-3xl',
  align === 'center' && 'mx-auto',
  align === 'right' && 'ml-auto',
  subtitleClass
);
---

<div class:list={['space-y-2', defaultAlignmentClass, className]}>
  {tagline && <p class={mergedTaglineClass}>{tagline}</p>}
  <h1 class={mergedTitleClass}>{title}</h1>
  {subtitle && <p class={mergedSubtitleClass}>{subtitle}</p>}
</div>
