---
import type { ContainerProps } from '~/types/container.types';
import Background from '~/components/blocks/primitives/Background.astro';
import { cn } from '~/utils/styles';

type Props = ContainerProps;

const props = Astro.props;
const ContainerTag = props.htmlTag ?? 'section';
const containerAir = props.content?.air ?? 'normal';
const containerWidthType = props.containerWidthType ?? 'full';
const contentWidthType = props.content?.widthType ?? 'boxed';
const contentBoxWidth = props.content?.boxWidth ?? 'max-w-[var(--container-max-width)]';
const widthClass = props.width ?? '';
const minHeightClass = props.minHeight ?? '';
const items = props.items ?? [];
const equalHeight = props.equalHeight ?? false;
const overflow = props.overflow ?? undefined;
const containerClassName = props.containerClass ?? '';
const contentClassName = props.content?.class ?? '';

const layoutType = props.layout?.type ?? '';
const layoutClass = props.layout?.class ?? '';

const hasBackground = !!props.background || Astro.slots.has('background');

const containerClass = cn(
  hasBackground && 'relative',
  containerWidthType === 'boxed' && 'mx-auto max-w-[var(--container-max-width)]',
  containerWidthType === 'custom' && 'mx-auto',
  widthClass,
  minHeightClass,
  overflow && `overflow-${overflow}`,
  props.spacing?.padding ??
    (containerAir === 'normal' ? 'px-4 py-12 md:px-6 md:py-16 lg-py-20' : ''),
  props.spacing?.margin,
  props.spacing?.gap,
  props.border?.width,
  props.border?.color,
  props.border?.radius,
  containerClassName
);

const containerStyle = hasBackground ? 'position:relative;' : '';

const contentClass = cn(
  'w-full relative z-1',
  layoutType,
  layoutClass,
  containerWidthType === 'full' &&
    contentWidthType === 'boxed' && [contentBoxWidth, 'mx-auto', minHeightClass],
  containerWidthType === 'full' && contentWidthType === 'full' && 'w-full',
  props.content?.spacing?.padding ?? (containerAir === 'normal' ? 'p-6' : ''),
  props.content?.spacing?.margin,
  props.content?.spacing?.gap,
  props.content?.border?.width,
  props.content?.border?.color,
  props.content?.border?.radius,
  contentClassName,
  equalHeight && 'items-stretch'
);
---

<ContainerTag class={containerClass} style={containerStyle}>
  {
    Astro.slots.background ? (
      <slot name="background" />
    ) : props.background ? (
      <Background
        image={props.background.image}
        video={props.background.video}
        attachment={props.background.attachment}
        class={props.background.class}
        overlayClass={props.background.overlayClass}
      />
    ) : null
  }
  <div class={contentClass}>
    {
      items && items.length > 0 ? (
        items.map((item) => <div class={item.class} id={item.id} set:html={item.content} />)
      ) : (
        <slot />
      )
    }
  </div>
</ContainerTag>
