---
import merge from 'lodash.merge';
import Container from './Container.astro';
import { cn } from '~/utils/styles';
import type { ContainerProps, FourColumnContainerProps } from '~/types/container.types';

type Props = FourColumnContainerProps;

const {
  gap = 'normal',
  responsive = false,
  breakpoint = 'md:',
  leftColumn,
  centerLeftColumn,
  centerRightColumn,
  rightColumn,
  ...containerProps
} = Astro.props;

const gapSettings = {
  none: '',
  tight: 'gap-3 md:gap-4 lg:gap-6',
  normal: 'gap-4 md:gap-6 lg:gap-8',
  loose: 'gap-6 md:gap-8 lg:gap-12',
};

// Build grid classes
const layoutClass = cn(
  responsive ? `grid-cols-1 ${breakpoint}grid-cols-4` : 'grid-cols-4',
  gapSettings[gap]
);

const leftColumnClass = cn(
  leftColumn?.background?.class,
  leftColumn?.spacing?.padding,
  leftColumn?.spacing?.margin,
  leftColumn?.border?.width,
  leftColumn?.border?.color,
  leftColumn?.border?.radius,
  leftColumn?.class
);

const centerLeftColumnClass = cn(
  centerLeftColumn?.background?.class,
  centerLeftColumn?.spacing?.padding,
  centerLeftColumn?.spacing?.margin,
  centerLeftColumn?.border?.width,
  centerLeftColumn?.border?.color,
  centerLeftColumn?.border?.radius,
  centerLeftColumn?.class
);

const centerRightColumnClass = cn(
  centerRightColumn?.background?.class,
  centerRightColumn?.spacing?.padding,
  centerRightColumn?.spacing?.margin,
  centerRightColumn?.border?.width,
  centerRightColumn?.border?.color,
  centerRightColumn?.border?.radius,
  centerRightColumn?.class
);

const rightColumnClass = cn(
  rightColumn?.background?.class,
  rightColumn?.spacing?.padding,
  rightColumn?.spacing?.margin,
  rightColumn?.border?.width,
  rightColumn?.border?.color,
  rightColumn?.border?.radius,
  rightColumn?.class
);

const defaultContainer = {
  htmlTag: 'div',
  content: { air: 'none', widthType: 'full' },
  layout: { type: 'grid', class: layoutClass },
  printDebug: true,
} as ContainerProps;

const mergedContainerProps = merge({}, defaultContainer, containerProps);
---

<Container {...mergedContainerProps}>
  <div class={leftColumnClass}>
    <slot name="left" />
  </div>
  <div class={centerLeftColumnClass}>
    <slot name="centerLeft" />
  </div>
  <div class={centerRightColumnClass}>
    <slot name="centerRight" />
  </div>
  <div class={rightColumnClass}>
    <slot name="right" />
  </div>
</Container>
